<!DOCTYPE html>
<html>
  <body>
    <form action="/recipes/<%= @recipe.id %>/delete" method="post">
      <p> <%= @recipe.name %> </p>
      <p> <%= @recipe.ingredients %> </p>
      <p> <%= @recipe.cook_time %> minutes</p>
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>
  </body>
</html>
